<!DOCTYPE html>0
<html>
<ul>
  <li><a href="index.html">GG's Sweets</a></li>
  <li><a href="sweets1.html">Types of Sweets</a></li>
  <li><a href="sweets2.html">Contact</a></li>
 
</ul>
<head>
<style>
img {img 
  float: right;
  width: 150px;
  margin: 20px;
  border-color: gold;
border-width: 10px;
  border-style:solid;
  border-radius: 2px;
}
  width: 200%;
}
h1 {color: plum}
body {font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";border-image:url("index.html")}
<body style="background-color: pink;">
</style>
</head>
<body>